/* guest_view */

position: relative;
width: 820px;
height: 1180px;

background: #FFFFFF;
transform: rotate(90deg);


/* Rectangle 1 */

position: absolute;
width: 817px;
height: 820px;
left: 0px;
top: 0px;

background: rgba(217, 217, 217, 0.39);


/* Search-Box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 722px;
height: 45px;
left: 44px;
top: 50px;

/* Neutral/1 */
background: #FFFFFF;
/* Neutral/5 */
border: 1px solid #D9D9D9;
border-radius: 2px;


/* wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 12px;
gap: 10px;

width: 672px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 1px 0px;
gap: 10px;

width: 648px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* placeholder */

width: 85px;
height: 22px;

/* Body/regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

/* Character/Disabled & Placeholder .25 */
color: rgba(0, 0, 0, 0.25);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* button/medium/standard/primary/normal/true */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 50px;
height: 45px;

background: #035BAC;
border: 1px solid #035BAC;
/* drop-shadow/button-primary */
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 0px 2px 2px 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Search */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5.36%;
right: 5.36%;
top: 5.37%;
bottom: 5.34%;

/* Character / Primary(inverse) */
background: #FFFFFF;


/* text */

display: none;
width: 72px;
height: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
text-align: center;

/* Character / Primary(inverse) */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group 38 */

position: absolute;
width: 262px;
height: 223px;
left: 267px;
top: 160px;

transform: rotate(90deg);


/* Group 37 */

position: absolute;
width: 262px;
height: 223px;
left: 267px;
top: 160px;

transform: rotate(90deg);


/* Rectangle 3 */

position: absolute;
width: 223px;
height: 262px;
left: 44px;
top: 160px;

background: #FFFFFF;


/* Group 41 */

position: absolute;
width: 262px;
height: 223px;
left: 267px;
top: 486px;

transform: rotate(90deg);


/* Group 37 */

position: absolute;
width: 262px;
height: 223px;
left: 267px;
top: 486px;

transform: rotate(90deg);


/* Rectangle 3 */

position: absolute;
width: 223px;
height: 262px;
left: 44px;
top: 486px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 262px;
height: 224px;
left: 762px;
top: 160px;

transform: rotate(90deg);


/* Rectangle 4 */

position: absolute;
width: 224px;
height: 262px;
left: 538px;
top: 160px;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 262px;
height: 224px;
left: 762px;
top: 486px;

transform: rotate(90deg);


/* Rectangle 4 */

position: absolute;
width: 224px;
height: 262px;
left: 538px;
top: 486px;

background: #FFFFFF;


/* Group 39 */

position: absolute;
width: 262px;
height: 223px;
left: 514px;
top: 160px;

transform: rotate(90deg);


/* Rectangle 5 */

position: absolute;
width: 223px;
height: 262px;
left: 291px;
top: 160px;

background: #FFFFFF;


/* Group 43 */

position: absolute;
width: 262px;
height: 223px;
left: 514px;
top: 486px;

transform: rotate(90deg);


/* Rectangle 5 */

position: absolute;
width: 223px;
height: 262px;
left: 291px;
top: 486px;

background: #FFFFFF;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 103px;
height: 30px;
left: 44px;
top: 112px;

background: rgba(3, 91, 172, 0.27);
border: 1px solid rgba(3, 91, 172, 0.65);
border-radius: 2px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 103px;
height: 30px;
left: 167px;
top: 112px;

background: #FAFAFA;
border: 1px solid #D9D9D9;
border-radius: 2px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 103px;
height: 30px;
left: 286px;
top: 112px;

background: #FAFAFA;
border: 1px solid #D9D9D9;
border-radius: 2px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 116px;
height: 30px;
left: 405px;
top: 112px;

background: #FAFAFA;
border: 1px solid #D9D9D9;
border-radius: 2px;


/* magenta */

position: absolute;
width: 66px;
height: 20px;
left: 75px;
top: 117px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #035BAC;



/* iced bear */

position: absolute;
width: 66px;
height: 20px;
left: 198px;
top: 117px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(0, 0, 0, 0.65);



/* discount */

position: absolute;
width: 66px;
height: 20px;
left: 317px;
top: 117px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(0, 0, 0, 0.65);



/* alcohol-free */

position: absolute;
width: 74px;
height: 20px;
left: 436px;
top: 117px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(0, 0, 0, 0.65);



/* material-symbols:favorite */

position: absolute;
width: 16px;
height: 16px;
left: 53px;
top: 120px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 11.04%;
bottom: 12.5%;

background: #035BAC;


/* material-symbols:favorite */

position: absolute;
width: 16px;
height: 16px;
left: 176px;
top: 120px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 11.04%;
bottom: 12.5%;

background: rgba(151, 148, 148, 0.5);


/* material-symbols:favorite */

position: absolute;
width: 16px;
height: 16px;
left: 295px;
top: 120px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 11.04%;
bottom: 12.5%;

background: rgba(151, 148, 148, 0.5);


/* material-symbols:favorite */

position: absolute;
width: 16px;
height: 16px;
left: 414px;
top: 120px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 11.04%;
bottom: 12.5%;

background: rgba(151, 148, 148, 0.5);


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 36px;

position: absolute;
width: 48px;
height: 196px;
left: calc(50% - 48px/2 + 722px);
top: calc(50% - 196px/2 + 208px);

background: #035BAC;
border-radius: 2px;
transform: rotate(90deg);


/* confirm */

width: 83px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

/* Character / Primary(inverse) */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 36px;

position: absolute;
width: 48px;
height: 196px;
left: calc(50% - 48px/2 + 722px);
top: calc(50% - 196px/2 + 125px);

background: #035BAC;
border-radius: 2px;
transform: rotate(90deg);


/* add friends */

width: 121px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

/* Character / Primary(inverse) */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 10 */

position: absolute;
width: 53px;
height: 46px;
left: 885px;
top: 540px;

background: #D9D9D9;


/* Rectangle 11 */

position: absolute;
width: 53px;
height: 46px;
left: 1081px;
top: 540px;

background: #D9D9D9;


/* Undo */

position: absolute;
width: 31px;
height: 15px;
left: 896px;
top: 555px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Redo */

position: absolute;
width: 30px;
height: 15px;
left: 1092px;
top: 555px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 68 */

position: absolute;
width: 147px;
height: 363px;
left: 1180px;
top: 77px;

transform: rotate(90deg);


/* Rectangle 8 */

position: absolute;
width: 363px;
height: 147px;
left: 817px;
top: 77px;

background: #D9D9D9;


/* Person 1 */

position: absolute;
width: 49px;
height: 15px;
left: 838px;
top: 92px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* hugeicons:cancel-01 */

position: absolute;
width: 24px;
height: 24px;
left: 1138px;
top: 98px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 1.5px solid #000000;


/* Group 69 */

position: absolute;
width: 147px;
height: 363px;
left: 1180px;
top: 241px;

transform: rotate(90deg);


/* Rectangle 8 */

position: absolute;
width: 363px;
height: 147px;
left: 817px;
top: 241px;

background: #D9D9D9;


/* Person 2 */

position: absolute;
width: 51px;
height: 15px;
left: 838px;
top: 256px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* hugeicons:cancel-01 */

position: absolute;
width: 24px;
height: 24px;
left: 1138px;
top: 262px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 1.5px solid #000000;
